<!-- ::::::  Start  Main Container Section  ::::::  -->
<br>
<br>
<main id="main-container" class="main-container">
  <div class="container">
    <div class="row flex-column-reverse flex-lg-row">
      <!-- Start Leftside - Sidebar -->
      <div class="col-lg-3">
        <div class="sidebar">
          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Brands</h5>
            </div>
            <ul class="sidebar__menu-collapse">
              <!-- Start Single Menu Collapse List -->
              <li class="sidebar__menu-collapse-list" *ngFor="let b of brands">
                <div class="accordion">
                  <a [routerLink]="['/shop']" [queryParams]="{brand: b.id}" class="accordion__title"
                    data-toggle="collapse" data-target="#men-fashion">{{b.brandName}}</a>
                </div>
              </li> <!-- End Single Menu Collapse List -->
            </ul>
          </div> <!-- End Single Sidebar Widget -->

          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Filter By</h5>
              <a href="/shop" class="btn btn--box btn--blue btn--small"><i class="far fa-times"></i> Clear All</a>
            </div>
            <div class="sidebar__box m-t-40">
              <h5 class="sidebar__title">Memory</h5>
            </div>
            <ul class="sidebar__menu-filter ">
              <!-- Start Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="32gb"><input type="checkbox" name="memory" value="32gb" id="32gb"><span>32 GB</span></label>
              </li> <!-- End Single Menu Filter List -->
              <!-- Start Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="64gb"><input type="checkbox" name="memory" value="64gb" id="64gb"><span>64 GB</span></label>
              </li> <!-- End Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="128gb"><input type="checkbox" name="memory" value="128gb" id="128gb"><span>128
                    GB</span></label>
              </li> <!-- End Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="256gb"><input type="checkbox" name="memory" value="256gb" id="256gb"><span>256
                    GB</span></label>
              </li> <!-- End Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="512GB"><input type="checkbox" name="memory" value="512GB" id="512GB"><span>512
                    GB</span></label>
              </li> <!-- End Single Menu Filter List -->
            </ul>

            <div class="sidebar__box m-t-40">
              <h5 class="sidebar__title">Color</h5>
            </div>
            <ul class="sidebar__menu-filter ">
              <!-- Start Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="white"><input type="checkbox" name="color" value="white"
                    id="white"><span>White</span></label>
              </li> <!-- End Single Menu Filter List -->
              <li class="sidebar__menu-filter-list">
                <label for="silver"><input type="checkbox" name="color" value="silver"
                    id="silver"><span>Silver</span></label>
              </li> <!-- End Single Menu Filter List -->
            </ul>
          </div> <!-- End Single Sidebar Widget -->

          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg ">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Price</h5>
            </div>
            <div class="sidebar__price-filter ">
              <div id="slider-range" class="price-filter-range"></div>
              <div class="slider__price-filter-input d-flex justify-content-between">
                <input type="number" min=0 max="9900" oninput="validity.valid||(value='0');" id="min_price"
                  class="price-range-field" />
                <input type="number" min=0 max="10000" oninput="validity.valid||(value='1000');" id="max_price"
                  class="price-range-field" />
              </div>
            </div>
            <a href="" class="btn btn--box btn--blue btn--small" style="margin-top: 24px;"><i class="far fa-filter"></i>
              Filter</a>
          </div> <!-- End Single Sidebar Widget -->

          <!-- ::::::  Start banner Section  ::::::  -->
          <div class="sidebar__widget banner">
            <div class="row">
              <div class="col-12">
                <div class="banner__box">
                  <a href="single-1.html" class="banner__link">
                    <img
                      src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/d/i/di_n_vi_n_jun_v__2.png"
                      alt="" class="banner__img">
                  </a>
                </div>
              </div>
            </div>
          </div> <!-- ::::::  End banner Section  ::::::  -->
        </div>
      </div> <!-- End Left Sidebar -->

      <!-- Start Rightside - Content -->
      <div class="col-lg-9">
        <!-- ::::::  Start banner Section  ::::::  -->
        <div class="banner">
          <div class="row">
            <div class="col-12">
              <div class="banner__box">
                <a href="single-1.html" class="banner__link">
                  <img
                    src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/d/a/danh-muc-tp-bank.jpg"
                    alt="" class="banner__img">
                </a>
              </div>
            </div>
          </div>
        </div> <!-- ::::::  End banner Section  ::::::  -->

        <!-- ::::::  Start Sort Box Section  ::::::  -->
        <div class="sort-box m-tb-30">
          <!-- Start Sort Left Side -->
          <div class="sort-box__left">
            <div class="sort-box__tab">
              <ul class="sort-box__tab-list nav">
                <li><a class="sort-nav-link active" data-toggle="tab" href="#sort-grid"><i class="icon-grid"></i> </a>
                </li>
                <li><a class="sort-nav-link" data-toggle="tab" href="#sort-list"><i class="icon-list"></i></a></li>
              </ul>
            </div>
            <span>There Are {{products.length}} Products.</span>
          </div> <!-- Start Sort Left Side -->

          <div class="sort-box__right">
            <span>Sort By:</span>
            <div class="sort-box__option">
              <!-- <label class="select-sort__arrow"> -->
              <select name="select-sort" class="">
                <option value="1">Relevance</option>
                <option value="2">Name, A to Z</option>
                <option value="3"> Name, Z to A </option>
                <option value="4"> Price, low to high</option>
                <option value="5">Price, high to low</option>
              </select>
              <!-- </label> -->
            </div>
          </div>
        </div> <!-- ::::::  Start Sort Box Section  ::::::  -->

        <div class="product-tab-area">
          <div class="tab-content ">
            <div class="tab-pane show active clearfix" id="sort-grid">
              <!-- Start Single Default Product -->
              <div *ngFor="let p of products"
                class="product__box product__box--default product__box--border-hover text-center float-left float-3">
                <div class="product__img-box">
                  <a [routerLink]="['product']" [queryParams]="{id: p.productId}" class="product__img--link">
                    <img class="product__img" [src]="p.images[0]" alt="">
                  </a>

                  <a href="#modalAddCart" data-toggle="modal"
                    class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">Add
                    to cart</a>
                  <span class="product__tag product__tag--discount">-{{p.discount}}%</span>
                  <a href="wishlist.html" class="product__wishlist-icon"><i class="icon-heart"></i></a>
                </div>
                <div class="product__price m-t-10">
                  <span class="product__price-del">{{(p.priceOut).toLocaleString('vi-VN', {style :
                    'currency',
                    currency : 'VND'})}}</span>
                  <br>
                  <span class="product__price-reg">{{(p.priceOut * (100 -
                    p.discount)/100).toLocaleString('vi-VN', {style : 'currency', currency :
                    'VND'})}}</span>
                </div>
                <a href="single-1.html"
                  class="product__link product__link--underline product__link--weight-light m-t-15">
                  {{p.productName}}
                </a>
              </div> <!-- End Single Default Product -->
            </div>
            <div class="tab-pane shop-list" id="sort-list">
              <!-- Start Single List Product -->
              <div class="product__box product__box--list">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product__img-box">
                      <a href="single-1.html" class="product__img--link">
                        <img class="product__img" src="assets/img/product/size-normal/product-home-1-img-1.jpg" alt="">
                      </a>
                      <span class="product__tag product__tag--discount">-12%</span>

                    </div>
                  </div>
                  <div class="col-md-5 pos-relative">
                    <div class="border-right pos-absolute"></div>
                    <div class="product__price">
                      <span class="product__price-del">$11.90</span>
                      <span class="product__price-reg">$10.71</span>
                    </div>
                    <a href="single-1.html"
                      class="product__link product__link--underline product__link--weight-light m-t-15">
                      SonicFuel Wireless Over-Ear Headphones
                    </a>
                    <div class="product__desc m-t-25 m-b-30">
                      <p>The ATH-S700BT offers clear, full-bodied audio reproduction with Bluetooth® wireless operation.
                        The headphones are equipped with a mic, and music and volume controls, allowing you to ...</p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <ul class="shop__list-link">
                        <li><a href="#modalAddCart" data-toggle="modal"
                            class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">Add to
                            cart</a></li>
                        <li><a href="wishlist.html" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i
                              class="icon-heart"></i>Add To Wishlist</a></li>
                        <li><a href="#modalQuickView" data-toggle="modal"
                            class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>Quick
                            View</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> <!-- Start Single List Product -->
              <!-- Start Single List Product -->
              <div class="product__box product__box--list">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product__img-box">
                      <a href="single-1.html" class="product__img--link">
                        <img class="product__img" src="assets/img/product/size-normal/product-home-1-img-2.jpg" alt="">
                      </a>
                      <span class="product__tag product__tag--discount">-12%</span>

                    </div>
                  </div>
                  <div class="col-md-5 pos-relative">
                    <div class="border-right pos-absolute"></div>
                    <div class="product__price">
                      <span class="product__price-del">$11.90</span>
                      <span class="product__price-reg">$10.71</span>
                    </div>
                    <a href="single-1.html"
                      class="product__link product__link--underline product__link--weight-light m-t-15">
                      SonicFuel Wireless Over-Ear Headphones
                    </a>
                    <div class="product__desc m-t-25 m-b-30">
                      <p>The ATH-S700BT offers clear, full-bodied audio reproduction with Bluetooth® wireless operation.
                        The headphones are equipped with a mic, and music and volume controls, allowing you to ...</p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <ul class="shop__list-link">
                        <li><a href="#modalAddCart" data-toggle="modal"
                            class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">Add to
                            cart</a></li>
                        <li><a href="wishlist.html" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i
                              class="icon-heart"></i>Add To Wishlist</a></li>
                        <li><a href="#modalQuickView" data-toggle="modal"
                            class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>Quick
                            View</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> <!-- Start Single List Product -->
              <!-- Start Single List Product -->
              <div class="product__box product__box--list">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product__img-box">
                      <a href="single-1.html" class="product__img--link">
                        <img class="product__img" src="assets/img/product/size-normal/product-home-1-img-3.jpg" alt="">
                      </a>
                      <span class="product__tag product__tag--discount">-12%</span>

                    </div>
                  </div>
                  <div class="col-md-5 pos-relative">
                    <div class="border-right pos-absolute"></div>
                    <div class="product__price">
                      <span class="product__price-del">$11.90</span>
                      <span class="product__price-reg">$10.71</span>
                    </div>
                    <a href="single-1.html"
                      class="product__link product__link--underline product__link--weight-light m-t-15">
                      SonicFuel Wireless Over-Ear Headphones
                    </a>
                    <div class="product__desc m-t-25 m-b-30">
                      <p>The ATH-S700BT offers clear, full-bodied audio reproduction with Bluetooth® wireless operation.
                        The headphones are equipped with a mic, and music and volume controls, allowing you to ...</p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <ul class="shop__list-link">
                        <li><a href="#modalAddCart" data-toggle="modal"
                            class="btn btn--block btn--small btn--border-blue btn--uppercase btn--weight m-b-15">Add to
                            cart</a></li>
                        <li><a href="wishlist.html" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i
                              class="icon-heart"></i>Add To Wishlist</a></li>
                        <li><a href="#modalQuickView" data-toggle="modal"
                            class="link--gray link--icon-left shop__quickview-icon"><i class="icon-eye"></i>Quick
                            View</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> <!-- Start Single List Product -->

            </div>
          </div>
        </div>

        <div class="page-pagination">
          <span>Showing 1-12 of 13 item(s)</span>
          <ul class="page-pagination__list">
            <li class="page-pagination__item">
              <a class="page-pagination__link btn btn--gray" href="#"><i class="icon-chevron-left"></i> Previous</a>
            </li>
            <li class="page-pagination__item"><a class="page-pagination__link active btn btn--gray" href="#">1</a></li>
            <li class="page-pagination__item"><a class="page-pagination__link btn btn--gray" href="#">2</a></li>
            <li class="page-pagination__item">
              <a class="page-pagination__link btn btn--gray" href="#">Next<i class="icon-chevron-right"></i></a>
            </li>
          </ul>
        </div>
      </div> <!-- Start Rightside - Content -->

    </div>
  </div>
</main> <!-- ::::::  End  Main Container Section  ::::::  -->

<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>

<!-- Start Modal Add cart -->
<div class="modal fade" id="modalAddCart" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Product Successfully Added To Your Shopping Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="modal__product-img">
                    <img class="img-fluid" src="assets/img/product/size-normal/product-home-1-img-1.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <span class="modal__product-title">SonicFuel Wireless Over-Ear Headphones</span>
                  <span class="modal__product-price m-tb-15">$31.59</span>
                  <ul class="modal__product-info ">
                    <li>Size:<span> S</span></li>
                    <li>Quantity:<span>3</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 modal__border">
              <span class="modal__product-cart-item">There are 3 items in your cart.</span>
              <ul class="modal__product-shipping-info m-tb-15">
                <li>Total products:<span>$94.78</span></li>
                <li>Total shipping:<span>$7.00</span></li>
                <li>Taxes:<span>$0.00</span></li>
                <li>Total: <span>$101.78 (tax excl.)</span></li>
              </ul>

              <div class="modal__product-cart-buttons">
                <a href="#" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight"
                  data-dismiss="modal">Continue Shopping</a>
                <a href="checkout.html" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight">Process to
                  checkout</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Modal Add cart -->

<!-- Start Modal Quickview cart -->
<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Quick View</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="product-gallery-box m-b-60">
                <div class="modal-product-image--large overflow-hidden">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid"
                        src="assets/img/product/gallery/gallery-large/product-gallery-large-1.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="img-fluid"
                        src="assets/img/product/gallery/gallery-large/product-gallery-large-2.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="img-fluid"
                        src="assets/img/product/gallery/gallery-large/product-gallery-large-3.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="img-fluid"
                        src="assets/img/product/gallery/gallery-large/product-gallery-large-4.jpg" alt=""></div>
                    <div class="swiper-slide"><img class="img-fluid"
                        src="assets/img/product/gallery/gallery-large/product-gallery-large-5.jpg" alt=""></div>
                  </div>
                </div>
                <div class="pos-relative">
                  <div class="modal-product-image--thumb overflow-hidden swiper-outside-arrow-hover m-lr-30">
                    <div class="swiper-wrapper ">
                      <div class="swiper-slide"><img class="img-fluid"
                          src="assets/img/product/gallery/gallery-thumb/product-gallery-thumb-1.jpg" alt=""></div>
                      <div class="swiper-slide"><img class="img-fluid"
                          src="assets/img/product/gallery/gallery-thumb/product-gallery-thumb-2.jpg" alt=""></div>
                      <div class="swiper-slide"><img class="img-fluid"
                          src="assets/img/product/gallery/gallery-thumb/product-gallery-thumb-3.jpg" alt=""></div>
                      <div class="swiper-slide"><img class="img-fluid"
                          src="assets/img/product/gallery/gallery-thumb/product-gallery-thumb-4.jpg" alt=""></div>
                      <div class="swiper-slide"><img class="img-fluid"
                          src="assets/img/product/gallery/gallery-thumb/product-gallery-thumb-5.jpg" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-buttons">
                    <!-- Add Arrows -->
                    <div class="swiper-button-next gallery__nav gallery__nav--next"><i class="fal fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev gallery__nav gallery__nav--prev"><i class="fal fa-chevron-left"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product-details-box">
                <h5 class="section-content__title">Canon Vista Fhd 4k Camcorder 2214c002</h5>
                <span class="text-reference">Reference: Jhon Doe</span>
                <div class="review-box">
                  <ul class="product__review m-t-10 m-b-15">
                    <li class="product__review--fill"><i class="icon-star"></i></li>
                    <li class="product__review--fill"><i class="icon-star"></i></li>
                    <li class="product__review--fill"><i class="icon-star"></i></li>
                    <li class="product__review--fill"><i class="icon-star"></i></li>
                    <li class="product__review--blank"><i class="icon-star"></i></li>
                  </ul>
                </div>
                <div class="product__price">
                  <span class="product__price-del">$35.90</span>
                  <span class="product__price-reg">$31.69</span>
                </div>
                <div class="product__desc m-t-25 m-b-30">
                  <p>The ATH-S700BT offers clear, full-bodied audio reproduction with Bluetooth® wireless operation. The
                    headphones are equipped with a mic, and music and volume controls, allowing you to ...</p>
                </div>
                <div class="product-var p-t-30">
                  <div class="product-size product-var__item">
                    <span class="product-var__text">Size</span>
                    <select id="product-size">
                      <option value="small">S</option>
                      <option value="medium">M</option>
                      <option value="large">L</option>
                      <option value="extraLarge">XL</option>
                      <option value="doubleLarge">XXL</option>
                    </select>
                  </div>
                  <div class="product-color product-var__item">
                    <span class="product-var__text">Color</span>
                    <div class="sidebar__color-filter ">
                      <label class="product-color"><input name="product-color" type="radio" class="product-color-select"
                          value="color-red"><span></span></label>
                      <label class="product-color"><input name="product-color" type="radio" class="product-color-select"
                          value="color-green" checked><span></span></label>
                      <label class="product-color"><input name="product-color" type="radio" class="product-color-select"
                          value="color-blue"><span></span></label>
                    </div>
                  </div>
                  <div class="product-quantity product-var__item">
                    <span class="product-var__text">Quantity</span>
                    <div class="product-quantity-box">
                      <div class="quantity">
                        <input type="number" min="1" max="9" step="1" value="1">
                      </div>
                      <a href="#modalAddCart" data-toggle="modal" data-dismiss="modal"
                        class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-l-20">Add to cart</a>
                    </div>

                  </div>
                </div>
                <div class="product-links ">
                  <div class="product-social m-tb-30">
                    <span>Share</span>
                    <ul class="product-social-link">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                  </div>
                  <a href="wishlist.html" class="link--gray link--icon-left shop__wishlist-icon m-b-5"><i
                      class="icon-heart"></i>Add To Wishlist</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Modal Quickview cart -->
