<!-- ::::::  Start  Breadcrumb Section  ::::::  -->
<div class="page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="page-breadcrumb__menu">
          <li class="page-breadcrumb__nav"><a href="#">Home</a></li>
          <li class="page-breadcrumb__nav active">Blog Single Left Sidebar Page</li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- ::::::  End  Breadcrumb Section  ::::::  -->

<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
  <div class="container">
    <div class="row flex-column-reverse flex-lg-row">
      <!-- Start Leftside - Sidebar -->
      <div class="col-lg-3">
        <div class="sidebar">
          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Search</h5>
            </div>
            <div class="sidebar__search">
              <form action="#" method="post" class="form-box__single-group">
                <div class="d-flex">
                  <input type="search" placeholder="Search entire here ...">
                  <button class="btn btn--submit btn--blue btn--uppercase btn--weight " type="submit"><i
                      class="fal fa-search"></i></button>
                </div>
              </form>
            </div>
          </div> <!-- End Single Sidebar Widget -->
          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Categories</h5>
            </div>
            <ul class="sidebar__catagories list-space--small">
              <li><a class="link--gray" href="#">Dresses <span>(20)</span></a></li>
              <li><a class="link--gray" href="#">Jackets & Coats <span>(9)</span></a></li>
              <li><a class="link--gray" href="#">Jeans <span>(11)</span></a></li>
              <li><a class="link--gray" href="#">Electronic Cigarettes <span>(6)</span></a></li>
              <li><a class="link--gray" href="#">Bags & Cases <span>(4)</span></a></li>
            </ul>
          </div> <!-- End Single Sidebar Widget -->
          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Recent Post</h5>
            </div>
            <ul class="sidebar__post list-space--medium">
              <li class="d-flex align-items-center">
                <a class="sidebar__post-img" href="#">
                  <div class="img-responsive">
                    <img src="assets/img/product/size-small/product-home-1-img-1.jpg" alt="">
                  </div>
                </a>
                <div class="sidebar__post-content">
                  <a class="link--gray" href="">This Is First Post For XipBlog</a>
                  <span class="d-block color-gray">APRIL 24, 2020</span>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <a class="sidebar__post-img" href="#">
                  <div class="img-responsive">
                    <img src="assets/img/product/size-small/product-home-1-img-2.jpg" alt="">
                  </div>
                </a>
                <div class="sidebar__post-content">
                  <a class="link--gray" href="">This Is Second Post For XipBlog</a>
                  <span class="d-block color-gray">APRIL 26, 2020</span>
                </div>
              </li>
            </ul>
          </div> <!-- End Single Sidebar Widget -->

          <!-- Start Single Sidebar Widget -->
          <div class="sidebar__widget gray-bg">
            <div class="sidebar__box">
              <h5 class="sidebar__title">Tags</h5>
            </div>
            <ul class="sidebar__tag list-space--small">
              <li><a class="btn btn--box btn--blue" href="#">Electronics</a></li>
              <li><a class="btn btn--box btn--blue" href="#">Audio</a></li>
              <li><a class="btn btn--box btn--blue" href="#">Video</a></li>
              <li><a class="btn btn--box btn--blue" href="#">Games</a></li>
              <li><a class="btn btn--box btn--blue" href="#">VR</a></li>
              <li><a class="btn btn--box btn--blue" href="#">Camera</a></li>
              <li><a class="btn btn--box btn--blue" href="#">Lens</a></li>
            </ul>
          </div> <!-- End Single Sidebar Widget -->

        </div>
      </div> <!-- End Left Sidebar -->

      <!-- Start Rightside - Content -->
      <div class="col-lg-9">
        <div class="blog">
          <div class="row">
            <!-- Start Single Blog List -->
            <div class="col-12">
              <div class="blog__type-single">
                <div class="img-responsive"><img src="assets/img/blog/single/blog-1.jpg" alt=""></div>
                <div class="blog__content">
                  <h3 class="title title--small title--thin">This is Third Post For XipBlog</h3>
                  <div class="blog__archive m-t-20">
                    <a href="#" class="link--gray link--icon-left m-r-30"><i class="far fa-calendar"></i> Oct 29,
                      2018</a>
                    <a href="#" class="link--gray link--icon-left"><i class="far fa-user"></i> Jhon Doe</a>
                  </div>
                  <div class="para m-tb-20">
                    <p class="para__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip commodo consequat. Duis aute irure dolor in rep rehenderit. Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip commodo consequat.
                    </p>
                    <p class="block-quote">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Duis aute irure dolor in rep rehenderit. Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.
                    </p>
                    <p class="para__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor incididunt ut
                      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                      Duis aute irure dolor in rep rehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiumod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit,
                      sed do eiumod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p class="para__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor incididunt ut
                      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                      Duis aute irure dolor in rep rehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiumod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit,
                      sed do eiumod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                <div class="blog__tag-share border-around m-t-30">
                  <div class="nametag">
                    <span>Tags:</span>
                    <ul class="nametag__list">
                      <li><a href="#">Fashion,</a></li>
                      <li><a href="#">T-shirt,</a></li>
                      <li><a href="#">White</a></li>
                    </ul>
                  </div>
                  <div class="nametag">
                    <span>Share:</span>
                    <ul class="nametag__list">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div> <!-- End Single Blog List -->
          </div>
        </div>

        <!-- Start Blog Comment -->
        <div class="blog blog--comment blog--1">
          <div class="section-content">
            <h5 class="section-content__title">3 Comments</h5>
          </div>
          <!-- Start - Review Comment -->
          <ul class="comment m-t-50">
            <!-- Start - Review Comment list-->
            <li class="comment__list">
              <div class="comment__wrapper">
                <div class="comment__img">
                  <img src="assets/img/user/image-1.png" alt="">
                </div>
                <div class="comment__content">
                  <div class="comment__content-top">
                    <div class="comment__content-left flex-column">
                      <h6 class="comment__name">Kaedyn Fraser</h6>
                      <span class="blog-news__postdate">Oct 29, 2018</span>
                    </div>
                    <div class="comment__content-right">
                      <a href="#" class="link--gray link--icon-left m-b-5"><i class="fas fa-reply"></i>Reply</a>
                    </div>
                  </div>

                  <div class="para__content">
                    <p class="para__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore
                      dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi dolor nulla
                      magnam ea! Dignissimos aspernatur cumque nam quod sint provident modi alias culpa, inventore
                      deserunt accusantium amet earum soluta consequatur quasi eum eius laboriosam, maiores praesentium
                      explicabo enim dolores quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam officia, saepe
                      repellat. </p>
                  </div>
                </div>
              </div>
              <!-- Start - Review Comment Reply-->
              <ul class="comment__reply">
                <li class="comment__reply-list">
                  <div class="comment__wrapper">
                    <div class="comment__img">
                      <img src="assets/img/user/image-2.png" alt="">
                    </div>
                    <div class="comment__content">
                      <div class="comment__content-top">
                        <div class="comment__content-left flex-column ">
                          <h6 class="comment__name">Oaklee Odom</h6>
                          <span class="blog-news__postdate">Oct 29, 2018</span>
                        </div>
                        <div class="comment__content-right">
                          <a href="#" class="link--gray link--icon-left m-b-5"><i class="fas fa-reply"></i>Reply</a>
                        </div>
                      </div>

                      <div class="para__content">
                        <p class="para__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora
                          inventore dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi
                          dolor nulla magnam ea! Dignissimos aspernatur cumque nam quod sint provident modi alias culpa,
                          inventore deserunt accusantium amet earum soluta consequatur quasi eum eius laboriosam,
                          maiores praesentium explicabo enim dolores quaerat! Voluptas ad ullam quia odio sint sunt.
                          Ipsam officia, saepe repellat. </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul> <!-- End - Review Comment Reply-->
            </li> <!-- End - Review Comment list-->
            <!-- Start - Review Comment list-->
            <li class="comment__list">
              <div class="comment__wrapper">
                <div class="comment__img">
                  <img src="assets/img/user/image-3.png" alt="">
                </div>
                <div class="comment__content">
                  <div class="comment__content-top">
                    <div class="comment__content-left flex-column">
                      <h6 class="comment__name">Jaydin Jones</h6>
                      <span class="blog-news__postdate">Oct 29, 2018</span>
                    </div>
                    <div class="comment__content-right">
                      <a href="#" class="link--gray link--icon-left m-b-5"><i class="fas fa-reply"></i>Reply</a>
                    </div>
                  </div>

                  <div class="para__content">
                    <p class="para__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore
                      dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi dolor nulla
                      magnam ea! Dignissimos aspernatur cumque nam quod sint provident modi alias culpa, inventore
                      deserunt accusantium amet earum soluta consequatur quasi eum eius laboriosam, maiores praesentium
                      explicabo enim dolores quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam officia, saepe
                      repellat. </p>
                  </div>
                </div>
              </div>
            </li> <!-- End - Review Comment list-->
          </ul> <!-- End - Review Comment -->
        </div> <!-- End Blog Comment -->

        <!-- Start Blog Comment Form -->
        <div class="blog blog--comment-form">
          <div class="section-content">
            <h5 class="section-content__title">Leave A Reply</h5>
            <p class="section-content__desc">Your email address will not be published. Required fields are marked *</p>
          </div>
          <form class="form-box" action="#" method="post">
            <div class="row">
              <div class="col-12">
                <div class="form-box__single-group">
                  <label for="form-review">Your review*</label>
                  <textarea id="form-review" rows="8" placeholder="Write a review"></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-box__single-group">
                  <label for="form-name">Your Name*</label>
                  <input type="text" id="form-name" placeholder="Enter your name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-box__single-group">
                  <label for="form-email">Your Email*</label>
                  <input type="email" id="form-email" placeholder="Enter your email" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-box__single-group">
                  <label for="form-site">Your Website</label>
                  <input type="text" id="form-site" placeholder="Enter your website">
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-t-30 text-uppercase"
                  type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div> <!-- End Blog Comment Form -->

        <!--   Start Recent Blog News    -->
        <div class="blog blog--1 swiper-outside-arrow-hover">
          <div class="row">
            <div class="col-12">
              <div class="section-content section-content--border d-flex align-items-center justify-content-between">
                <h5 class="section-content__title">Recent Blog</h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="swiper-outside-arrow-fix pos-relative">
                <div class="blog-news blog-news-3grid overflow-hidden  m-t-50">
                  <div class="swiper-wrapper">
                    <!-- Single Blog News Item -->
                    <div class="blog-news__box swiper-slide">
                      <div class="blog-news__img-box">
                        <a href="blog-single-left-sidebar.html" class="blog-news__img--link">
                          <img src="assets/img/blog/news/blog-news-home-1-img-1.jpg" alt="" class="blog-news__img">
                        </a>
                      </div>

                      <div class="blog-news__archive m-t-25">
                        <a href="#" class="blog-news__postdate"><i class="far fa-calendar"></i> Oct 29, 2018</a>
                        <a href="#" class="blog-news__author"><i class="far fa-user"></i> Jhon Doe</a>
                      </div>

                      <a href="blog-single-left-sidebar.html" class="blog-news__link">
                        <h5>Vehicula Diam Potenti Imperdiet Placerat Placeat</h5>
                      </a>
                    </div> <!-- End Blog News Item -->
                    <!-- Single Blog News Item -->
                    <div class="blog-news__box swiper-slide">
                      <div class="blog-news__img-box">
                        <a href="blog-single-left-sidebar.html" class="blog-news__img--link">
                          <img src="assets/img/blog/news/blog-news-home-1-img-2.jpg" alt="" class="blog-news__img">
                        </a>
                      </div>

                      <div class="blog-news__archive m-t-25">
                        <a href="#" class="blog-news__postdate"><i class="far fa-calendar"></i> Oct 29, 2018</a>
                        <a href="#" class="blog-news__author"><i class="far fa-user"></i> Jhon Doe</a>
                      </div>

                      <a href="blog-single-left-sidebar.html" class="blog-news__link">
                        <h5>Vehicula Diam Potenti Imperdiet Placerat Placeat</h5>
                      </a>
                    </div> <!-- End Blog News Item -->
                    <!-- Single Blog News Item -->
                    <div class="blog-news__box swiper-slide">
                      <div class="blog-news__img-box">
                        <a href="blog-single-left-sidebar.html" class="blog-news__img--link">
                          <img src="assets/img/blog/news/blog-news-home-1-img-3.jpg" alt="" class="blog-news__img">
                        </a>
                      </div>

                      <div class="blog-news__archive m-t-25">
                        <a href="#" class="blog-news__postdate"><i class="far fa-calendar"></i> Oct 29, 2018</a>
                        <a href="#" class="blog-news__author"><i class="far fa-user"></i> Jhon Doe</a>
                      </div>

                      <a href="blog-single-left-sidebar.html" class="blog-news__link">
                        <h5>Vehicula Diam Potenti Imperdiet Placerat Placeat</h5>
                      </a>
                    </div> <!-- End Blog News Item -->
                    <!-- Single Blog News Item -->
                    <div class="blog-news__box swiper-slide">
                      <div class="blog-news__img-box">
                        <a href="blog-single-left-sidebar.html" class="blog-news__img--link">
                          <img src="assets/img/blog/news/blog-news-home-1-img-4.jpg" alt="" class="blog-news__img">
                        </a>
                      </div>

                      <div class="blog-news__archive m-t-25">
                        <a href="#" class="blog-news__postdate"><i class="far fa-calendar"></i> Oct 29, 2018</a>
                        <a href="#" class="blog-news__author"><i class="far fa-user"></i> Jhon Doe</a>
                      </div>

                      <a href="blog-single-left-sidebar.html" class="blog-news__link">
                        <h5>Vehicula Diam Potenti Imperdiet Placerat Placeat</h5>
                      </a>
                    </div> <!-- End Blog News Item -->
                  </div>
                  <div class="swiper-buttons">
                    <!-- Add Arrows -->
                    <div class="swiper-button-next default__nav default__nav--next"><i class="fal fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev default__nav default__nav--prev"><i class="fal fa-chevron-left"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div> <!--   End Recent Blog News  -->

      </div> <!-- Start Rightside - Content -->
    </div>
  </div>
</main> <!-- ::::::  End  Main Container Section  ::::::  -->
